<div class="equipo"></div>
<div class="head">
    <div class="add">
        <ng-container *ngIf="enableEdit" >
                <a [routerLink]="['/edit','Equipo','new']" class="mdi mdi-account-plus"></a>
        </ng-container>
    </div>
    <div class="titulo">
        Equipo
    </div>
</div>
<div class="slider">
    <div class="team-slider">
        <!-- Datos generados desde el servidor: -->
        <!-- La función sort en el query a la BD del lado del servidor devuelve el orden correcto, por lo que no necesito corregirlo acá -->
        <ng-container *ngFor="let member of members; let i=index">
            <ng-container *ngIf="enableEdit || member.show">    <!-- Si estoy editando muestro todos, si no, solo los habilitados -->
                <div class="grid-container">
                    <div class="foto" (click)="openModal('view', i)">
                        <img src="{{url+'get-file/'+member.picture}}" alt="" *ngIf="member.picture" (load)="showSlider()">
                        <div *ngIf="enableEdit">
                            <a [routerLink]="['/edit','Equipo', member._id]">
                                <span class="mdi mdi-settings"></span>
                            </a>
                        </div>
                    </div>
                    <div class="nombre">{{member.name}}</div>
                    <div class="cargo">{{member.position}}</div>
                    <div class="descripcion">{{member.description}}</div>
                </div>
            </ng-container>
        </ng-container>
        

        <!-- Datos de ejemplo: -->
        <!-- <div class="grid-container">
            <div class="foto"><img src="../../../assets/equipo/Araoz-640x430.jpg" alt=""></div>
            <div class="nombre">Juan Aráoz</div>
            <div class="cargo">Presidente</div>
            <div class="descripcion">
                Abogado (FD-UCC). 42 años. Casado y 4 hijos. Especialista en Derecho Penal (Universidad de Salamanca). Relator de Cámara en Tribunales Federales. Socio Estudio Jurídico Araoz &amp;Asoc. Especialista en Derecho Ambiental (UCC). Director de Asuntos Legales de la Legislatura de la Provincia de Córdoba.
            </div>
        </div>
        <div class="grid-container">
            <div class="foto"><img src="../../../assets/equipo/Pablo-Bono-640x430.png" alt=""></div>
            <div class="nombre">Pablo Bono</div>
            <div class="cargo">Tesorero</div>
            <div class="descripcion">
                Contador Público (FCE-UNC). 32 años. Socio Estudio Contable Integral Córdoba. Miembro de la Comisión de Estudios Tributarios C.P.C.E. Córdoba. Relator de Comisión Agricultura, Ganadería y Recursos Renovables en la Legislatura de la Provincia de Córdoba.
            </div>
        </div>
        <div class="grid-container">
            <div class="foto"><img src="../../../assets/equipo/lucas-benavidez-640x430.jpeg" alt=""></div>
            <div class="nombre">Lucas Benavidez</div>
            <div class="cargo">Asesor/Director Académico</div>
            <div class="descripcion">
                Abogado, Escribano- Mediador (UNC), 32 años. Docente. Relator en el Poder Judicial de la Provincia de Córdoba.Director Académico de C.E.A.D.E.
            </div>
        </div>
        <div class="grid-container">
            <div class="foto"><img src="../../../assets/equipo/eugenia-valerio-red-640x430.jpg" alt=""></div>
            <div class="nombre">María Eugenia Valerio</div>
            <div class="cargo">Medios/Organización</div>
            <div class="descripcion">
                Licenciada en Comunicación Social,especialización en  Institucional (UNC) 35 años
            </div>
        </div> -->
    </div>
</div>

<!-- Popup -->
<jw-modal id="view">
    <div class="view_member" *ngIf="viewMember">    
        <div class="view_photo">
            <img src="{{url+'get-file/'+viewMember.picture}}" alt="" *ngIf="viewMember.picture">
        </div>
        <div class="view_text">
            <div class="view_name">{{viewMember.name}}</div>
            <div class="view_position">{{viewMember.position}}</div>
            <div class="view_description">{{viewMember.description}}</div>
        </div>
    </div>
</jw-modal>

