/* Team Slider */
/* Grilla de los componentes del slider */
.grid-container {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 150px 25px 25px 1auto;
    grid-template-areas: "foto" "nombre" "cargo" "descripcion";
  }
  
.foto{ 
    grid-area: foto; 
    position: relative;
}

.nombre { grid-area: nombre; }

.cargo { grid-area: cargo; }

.descripcion { grid-area: descripcion; }

.grid-container{
    max-width: 300px;
    overflow: hidden;
}
/* FIN de grilla */

.foto img{
    position: relative;
    z-index: 1;
}

.foto a{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 10;
    color: white;
    font-size: 24px;
}

.head{
    text-align: center; 
    height: 100px;
}

.add{
    float: left;
    font-size: 40px;
    padding-top: 55px;
    margin-left: 30%;
}

.add a{
    color: black;
    text-decoration: none;
}

.titulo{
    padding-top: 50px;
    font-family: 'Open Sans Bold';
    font-size: 24px;
    text-align: center;
    color: black;
    float: left;
    margin-left: 10%;
}

.titulo::after{
    background: #21748C;
    display: block;
    content: "";
    height: 1px;
    width: 120px;
    margin: 15px auto 10px;
    position: relative;
}

.nombre{
    font-family: 'Open Sans Bold';
    font-size: 14px;
    text-align: center;
    color: #444444;
    text-transform: uppercase;
    padding: 18px 0px 0px 0px;
}

.nombre::after{
    background: #21748C;
    display: block;
    content: "";
    height: 1px;
    width: 120px;
    margin: 15px auto 10px;
    position: relative;
}

.cargo{
    font-family: 'Open Sans Thin';
    font-size: 14px;
    text-align: center;
}

.descripcion{
    font-family: 'Open Sans Thin';
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    width: 300px;
    padding-left: 40px;
}

.slider{
    padding: 50px 50px 0px 50px;     
}

.bx-wrapper {
    box-shadow: none;
}

.view_member{
   display: block;
   overflow: hidden;
}

.view_photo{
    float: left;
    width: 50%;
    overflow: hidden;
}

.view_text{
    display: block;
    float: right;
    width: 50%;
    text-align: center;
}

.view_photo img{
    max-width: max-content;
}

.view_name{
    font-family: 'Open Sans Bold';
    font-size: 14px;
    text-align: center;
    color: #444444;
    text-transform: uppercase;
    padding: 18px 0px 0px 0px;
}

.view_name::after{
    background: #21748C;
    display: block;
    content: "";
    height: 1px;
    width: 120px;
    margin: 15px auto 10px;
    position: relative;
}

.view_position{
    font-family: 'Open Sans Thin';
    font-size: 14px;
    text-align: center;
}

.view_description{
    font-family: 'Open Sans Thin';
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}