<!-- https://materialdesignicons.com/ -->
<link href="https://cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css" rel="stylesheet">
<footer>
    <div class="arriba">
        <a href="#" id="_arriba"><span class="mdi mdi-chevron-up-box"></span></a>
    </div>
    <div class="texto">
        <span>2019 - &copy; Fundación Idear - Built in </span>
        <span class="mdi mdi-angular"></span>
        <span> By ChóN</span>
    </div>
    <div class="icons">
        <a href=""><span class="mdi mdi-linkedin"></span></a>
        <a href=""><span class="mdi mdi-instagram"></span></a>
        <a href=""><span class="mdi mdi-twitter"></span></a>
        <a href=""><span class="mdi mdi-facebook"></span></a>
    </div>
</footer>