<!-- Iconos - ver: https://google.github.io/material-design-icons/ -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="jarallax">
    <img class="jarallax-img" src='../../../assets/sede-de-la-Fundación-768x1024.jpg' alt="">
    <div class="consultanos">
        <div class="titulo"><h1>Consultanos</h1></div>
        <div class="plantilla">
            <div class="datos">
                <div class="datos-titulo">Contacto</div>
                <div class="datos-email">
                    <i class="material-icons">email</i>
                    <a href="mailto: info@fundacionidear.org">info@fundacionidear.org</a>
                </div>
                <div class="datos-telefono">
                    <i class="material-icons">phone</i>
                    <span>+549-351-2147949</span>
                </div>
                <div class="datos-direccion">
                    <a href="https://goo.gl/maps/WQYdPzkijiX5kmUo6"><i class="material-icons">map</i></a>
                    <span>Avenida Velez Sarsfield 186 Tercer Piso – Ciudad de Córdoba, Argentina</span>
                </div>
            </div>
            <div class="formulario">
                <div class="form-titulo">Envianos tu mensaje</div>
                <div class="form-nombre">
                    <div class="borde">
                        <input type="text" id="nombre" size="80" placeholder="Nombre (requerido)" required>
                    </div>
                </div>
                <div class="form-email">
                    <div class="borde"><input type="email" id="email" size="80" placeholder="Correo electrónico (requerido)" required></div></div>
                <div class="form-telefono"><div class="borde"><input type="text" id="telefono" size="80" placeholder="Teléfono" ></div></div>
                <div class="form-profesion"><div class="borde"><input type="text" id="profesion" size="80" placeholder="Profesión" ></div></div>
                <div class="form-mensaje"><div class="borde"><textarea id="mensaje" cols="80" rows="5" placeholder="Mensaje" ></textarea></div></div>
                <div class="form-button"><button id="form-button">Enviar</button></div>
            </div>
        </div>
    </div>
</div>
