/********** Inicio de grilla creada con https://grid.layoutit.com/ *********/
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 1auto 1auto 1auto 1auto 1auto 1auto;
    grid-template-areas: "titulo" "columnas" "quienes-somos" "objetivos" "que-hacemos" "nuestros-proyectos" "resp-social";
}
  
  .titulo { grid-area: titulo; }
  
  .columnas {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 1auto;
    grid-template-areas: "box1 box2 box3";
    grid-area: columnas;
  }
  
  .box1 { grid-area: box1; }
  
  .box2 { grid-area: box2; }
  
  .box3 { grid-area: box3; }
  
  .quienes-somos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1auto;
    grid-template-areas: ".";
    grid-area: quienes-somos;
  }
  
  .objetivos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1auto;
    grid-template-areas: ".";
    grid-area: objetivos;
  }
  
  .que-hacemos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1auto;
    grid-template-areas: ".";
    grid-area: que-hacemos;
  }
  
  .nuestros-proyectos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1auto;
    grid-template-areas: ".";
    grid-area: nuestros-proyectos;
  }
  
  .resp-social {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1auto;
    grid-template-areas: ".";
    grid-area: resp-social;
  }

/****************** Fin de grilla **************************/

/* General */

/* Contenedor principal */
.grid-container{
    font-family: 'Open Sans Thin';
    font-size: 15px;
}

.grid-container h2{
    vertical-align: baseline;
    font-family: "Open Sans Bold";
    color: #323232;
    font-size: 24px;
}

.grid-container h3{
    vertical-align: baseline;
    font-family: "Open Sans Bold";
    color: #323232;
    font-size: 18px;
    padding-top: 20px;
}

.grid-container ul li, p{
    /* list-style-type: square; */
    /* line-height: 22px; */
    color: #686868;
    
    padding-top: 10px;
}

/* titulo */
.titulo h1{
    vertical-align: baseline;
    font-family: "Open Sans Normal";
    color: #444444;
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* línea luego del título */
.titulo h1::after{
    background: #21748C;
    display: block;
    content: "";
    height: 1px;
    width: 120px;
    margin: 15px auto 20px;
    position: relative;
}


/* Columnas */
.columnas{
    text-align: left;
}

.columnas .box1{
    padding-left: 18%;
    padding-right: 0%;
}

.columnas .box2{
    padding-left: 5%;
    padding-right: 16%;
}

.columnas .box3{
    padding-left: 0%;
    padding-right: 10%;
}

.box3 ul li{
    list-style-type: square;
}

/* quienes-somos */
.quienes-somos{
    text-align: left;
    padding: 50px 80px 0px 80px; /* top, right, bottom, left */
}

/* objetivos */
.objetivos{
    text-align: left;
    padding: 50px 80px 0px 80px; /* top, right, bottom, left */
}

/* que-hacemos */
.que-hacemos{
    text-align: left;
    padding: 50px 80px 0px 80px; /* top, right, bottom, left */
}

/* nuestros-proyectos */
.nuestros-proyectos{
    text-align: center;
    padding: 50px 80px 0px 80px; /* top, right, bottom, left */
}

.nuestros-proyectos ul li{
    list-style-type: none;
}

/* resp-social */
.resp-social{
    text-align: left;
    padding: 50px 80px 0px 80px; /* top, right, bottom, left */
}



