<div class="testimoniales">
    <div class="titulo">
        <h1>Testimoniales</h1>
    </div>
    <div class="testimoniales-slider">
        <div class="testimoniales-bxslider">
            <div>
                <p class="frase">"He Aprendido que la gente olvidará lo que has dicho, la gente olvidará lo que hiciste, pero la gente nunca olvidará cómo las hiciste sentir"</p>
                <p class="firma">Maya Angelou</p>
            </div>
            <div>
                <p class="frase">"Sólo sé que no se Nada"</p>
                <p class="firma">Sócrates</p>
            </div>
        </div>
    </div>
</div>
