@font-face {
    font-family: 'Open Sans Bold';
    src: url('../assets/OpenSansBold.woff2');
  }

@font-face {
    font-family: 'Open Sans Thin';
    src: url('../assets/OpenSansThin.woff2');
}

@font-face {
font-family: 'Open Sans Normal';
src: url('../assets/OpenSansNormal.woff2');
}



