<div class="actividades"></div>
<div class="head">
    <div class="add">
        <ng-container *ngIf="enableEdit" >
                <a [routerLink]="['/edit','Actividades','new']" class="mdi mdi-note-plus"></a>
        </ng-container>
    </div>
    <div class="titulo">
        <h1>Actividades</h1>
    </div>
</div>
<div id='filter'>
    <button class='all active'>Todos</button>
    <ng-container *ngFor="let year of years">
        <button class='{{year}}'>{{year}}</button>
    </ng-container>
    
    <!-- <button class='2015'>2015</button>
    <button class='2016'>2016</button>
    <button class='2017'>2017</button>
    <button class='2018'>2018</button>
    <button class='2019'>2019</button> -->
</div>
<div id="posts">
    <ng-container *ngFor="let act of activities; let i = index">
        <div class='post {{years[i]}}' (click)="openModal('view_act', i)">
            <img [src]="url+'get-file/'+act.pictures[act.front_picture]"/>
            <div class='post-content'>
                <h2>{{years[i]}}</h2>
                <p>{{act.name}}</p>
            </div>
            <a [routerLink]="['/edit','Actividades', act._id]" *ngIf="enableEdit">
                <span class="mdi mdi-settings"></span>
            </a>
        </div>
    </ng-container>
</div>

<!-- <div id='posts'>
    <div class='post 2010'><img src='../../../assets/actividades/2016/01/ciclo de conferencias.jpg'/>
        <div class='post-content'>
            <h2>2016</h2>
            <p>Ciclo de Conferencias</p>
            <a href="#">View more</a> 
        </div>
    </div>
    <div class='post 2016'><img src='../../../assets/actividades/2016/07/desayuno llaryora.jpg'/>
        <div class='post-content'>
        <h2>2016</h2>
        <p>Desayuno con Martin Llaryora</p>
        <a href="#">View more</a> </div>
    </div>
</div> -->

<div class='hidden'></div>

<jw-modal id="view_act">
    <div class="view_act" *ngIf="viewActivity">    
        <div class="view_photos">
            <ngx-masonry-gallery #masonryGallery [width]="300" [images]="masonryPictures" (click)="selectPicture()"></ngx-masonry-gallery>
            <!-- <ng-container *ngFor="let foto of viewActivity.pictures">
                <img src="{{url+'get-file/'+foto}}" alt="" *ngIf="foto">
            </ng-container> -->
        </div>
        <div class="view_text">
            <div class="view_date">{{viewActivity.date_activity}}</div>
            <div class="view_name">{{viewActivity.name}}</div>
            <div class="view_description">{{viewActivity.description}}</div>
        </div>
    </div>
</jw-modal>
