<div class="actividades"></div>
<div class="titulo">
        <h1>Actividades</h1>
</div>
<div id='filter'>
    <button class='all active'>Todos</button>
    <button class='2015'>2015</button>
    <button class='2016'>2016</button>
    <button class='2017'>2017</button>
</div>

<div id='posts'>
    <div class='post 2016'><img src='http://i.imgur.com/NjwjzuK.jpg'/>
        <div class='post-content'>
        <h2>2016 title</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    <div class='post 2015'><img src='http://i.imgur.com/hCzZsC5.jpg'/>
        <div class='post-content'>
        <h2>Art title</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    <div class='post 2017'><img src='http://i.imgur.com/ksYMf87.jpg'/>
        <div class='post-content'>
        <h2>2017 title</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    <div class='post 2015'><img src='http://i.imgur.com/GaObIBE.jpg'/>
        <div class='post-content'>
        <h2>Art title 2</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    <div class='post 2016'><img src='http://i.imgur.com/JDFqCeg.jpg'/>
        <div class='post-content'>
        <h2>2016 title 2</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    <div class='post 2017'><img src='http://i.imgur.com/4IiYv9y.jpg'/>
        <div class='post-content'>
        <h2>2017 title 2</h2>
        <p>This description for demo only and not for reading</p>
        <a href="#">View more</a> </div>
    </div>
    </div>
<div class='hidden'></div>
