<header id="header">
    <app-menu></app-menu>  
</header>
      
<section class="content"><app-slider></app-slider></section>
<section class="content"><app-institucional></app-institucional></section>
<section class="content"><app-team></app-team></section>
<section class="content"><app-sumate></app-sumate></section>
<section class="content"><app-actividades></app-actividades></section>
<section class="content"><app-testimoniales></app-testimoniales></section>
<section class="content"><app-contacto></app-contacto></section>
<app-footer></app-footer>
